{% extends 'base.html.twig' %}

{% block title %}Évaluation CI/CD{% endblock %}

{% block body %}
<h1>Bienvenue sur mon projet Cloud</h1>
<h4>SMITHIES Andrew</h4>
<p>{{ now|date('Y-m-d H:i:s') }}</p>
{% endblock %}
